body {
  background-color: rgb(160,82,45);
}

h1 {
  font-family:'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  color: rgb(210,180,140);
  text-align: left;

}
h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bold ;
  color: black;
  text-align: left;

}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: bold;
  color: white;
  text-align: left;
}
